/*@media only screen and (min-width: 320px) and (max-width: 479px){*/

  header {
    padding: 0;
  }

  body {
    padding: 0 0.2em; /*override la bootstrap-responsive.min [body]*/
  }

  main {
    padding: 0.1em;
  }

  p {
    white-space: pre-line;
  }

  #top {
    padding-bottom: 0.5em;
  }

  #top img {
    display: inline-block;
    clear: both;
  }

  .form-search {
    margin-top: -40%;
  }

  .articles {
    width: auto;
  }

  .search {
    display: block;
  }

  .label {
    font-weight: normal;
    text-shadow: none; /* override bootstrap*/
  }

  a.label:visited {
    color: rgba(156, 156, 109, 1);
  }

  .label-info[href],
  .label-info {
    background-color: rgba(173, 101, 95, 1);
  }

  /**
   * CONȚINUTUL ESTE MAI BINE ÎNCADRAT ÎN LANDING
   */
  [class|="leading"] {
    padding: 0 1em 1em;
    background-color: white;

    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }

  /**
   * HIDE HIDE, HIDE!
   */
  .icons,
  dd.create,
  .kmt-hits,
  .hits span,
  .parent-category-name,
  .icon-calendar {
    display: none;
  }

  /*
  * TAGS
  * .label, .badge sunt de la bootstrap și au nevoie de override
  */
  .label,
  .badge,
  .tags {
    font-size: xx-small;
  }

  .tags {
    width: 100%;
  }

  .items-leading ul.tags li:nth-child(n+4),
  .items-row ul.tags li:nth-child(n+4) {
    display: none;
  }
  
  /*
  * AFIȘAREA TITLURILOR
  */
  .leading-0 h2.item-title,
  .item .item-title {
    padding: 0 0.2em 0.2em;
    font-variant: all-petite-caps;
    line-height: 0.95em;
  }

  .leading-0 h2.item-title {
    background-color: rgba(47, 109, 67, 1);
    text-align: center;
    margin: 0 auto;
  }

  div.page-header h2 {
    font-variant: all-petite-caps;
  }

  .item .item-title {
    text-align: center;
    border-bottom: 0.05em dashed rgba(255, 19, 1, 0.6);
  }

  .leading-0 .item-title a:link,
  .leading-0 .item-title a:visited {
    color: white;
  }

  /*
  * article-info
  */
  .article-info {
    width: 95%;
  }

  .leading-0 .article-info,
  .items-row .article-info {
    /*background-color: rgba(47, 109, 67, 0.2);*/
    padding: 0.5em;
    margin: 0.5em 0;
  }

  .leading-0 .article-info,
  .items-row .article-info {
    color: rgba(47, 109, 67, 1);
  }

  .createdby,
  .category-name,
  .create {
    color: rgba(147, 58, 63, 1);
    font-size: x-small;
    float: left;
    /*margin: 0 auto;
    margin-right: 0.5em;*/
  }

  /**
   * HITS
   */
  .hits {
    float: right;
    font-size: small;
    font-weight: bolder;
    border: solid 1px green;
    /*border-radius: 0.5em/0.5em;*/
    border-radius: 50%;
    padding: 0 0.2em;
    background: hsla(0,0%,100%,.3);
  }


  /**
   * TITLURILE ARTICOLELOR IDENTIFICATE DE TAG-URI
   */

  li[class|="cat-list"] h3 {
    padding: 0 0.2em 0.2em;
    font-variant: all-petite-caps;
    line-height: 0.95em;
    text-align: center;
  }

  ul.list-striped li:nth-child(odd):hover{
    background-color: white;
  }

  span.tag-body {
    background-color: white;
  }

  /* Compact layout */
  #categorylist_header_date a:link,
  tr[class|="cat-list"]:nth-child(even) td.list-date {
    color: white;
  }


  /*
  * Stilizare bloc informatie din .items-row
  */

  .item {
    margin-top: 0.5em;
  }

  .leading-0 .create,
  .leading-0 .createdby {
    color: black;
  }

  .leading-0 .createdby a:link,
  .createdby a:link,
  .category-name a:link,
  .leading-0 .category-name a:link {
    color: rgba(47, 109, 67, 1);
  }

  .category-name a:visited,
  .leading-0 .category-name a:visited {
    color: black;
  }

  .category-name a:hover,
  .leading-0 .category-name a:hover {
    color: black;
  }

  dd.createdby,
  .create {
    color: black;
  }

  /*
  * NEWSFLASH
  */
  .newsflash-horiz{
    padding: 0;
    font-weight: lighter;
  }

  div.moduletable.flashes {
    width: 100%;
  }

  /**
   * ELIMINĂ ORICE PARAGRAF AFIȘAT
   */
  ul.flashes li p {
    display: none;
  }

  ul.flashes {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin: 2px auto;
  }

  .newsflash-horiz > li {

    background: white;

    font-size: x-small;
    line-height: 0.95em; /* rescriere bootstrap */
    text-align: center;

    /* For IE 7 */
    zoom: 1;
    *display: inline;
  }

  .newsflash-title {
    font-size: small;
    line-height: 0.95em;
  }

  .newsflash-title a:link,
  .newsflash-title a:visited{
    display: block;
    text-decoration: none;
    padding-bottom: 0.2em;
    color: rgba(47, 109, 67, 0.8);
  }


  /**
   * Titlurile articolelor din items-row
   */
  .item h2.item-title {
    font-size: 1.5em;
  }

  /* butoanele de rasfoit articole inainte si inapoi */
  .item-page .pager {
    margin: 0; /* OVERRIDE BOOTSTRAP */
    background-color: white;
  }

  .item-page div[itemprop="articleBody"] {
    float: left;
    padding: 0.5em;
    /* setări generale */
    column-count: 1;
    column-rule-color:  rgba(255, 19, 1, 0.5);
    column-rule-style:  solid;
    column-rule-width:  0.1em;

    /* MOZILLA */
    -moz-column-count: 1;
    -moz-column-rule-color:  rgba(255, 19, 1, 0.5);
    -moz-column-rule-style:  solid;
    -moz-column-rule-width:  0.1em;

    /* CHROME, SAFARI */
    -webkit-column-count: 1;
    -webkit-column-rule-color:  rgba(255, 19, 1, 0.5);
    -webkit-column-rule-style: solid ;
    -webkit-column-rule-width:  0.1em;
  }
