/*@media only screen and (max-width: 768px) {*/

  /*

  /*
  * Stilizarea primului articol care apare pe prima pagină
  * Stilizare articole deschise
  **/

  .leading-0 {
    padding: 0.5em;

    column-count: 3;
    column-gap: 1em;
    column-rule-color:  rgba(255, 19, 1, 0.5);
    column-rule-style:  solid;
    column-rule-width:  0.1em;

    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -moz-column-rule-color:  rgba(255, 19, 1, 0.5);
    -moz-column-rule-style:  solid;
    -moz-column-rule-width:  0.1em;

    -webkit-column-count: 3;
    -webkit-column-gap : 1em;
    -webkit-column-rule-color:  rgba(255, 19, 1, 0.5);
    -webkit-column-rule-style: solid ;
    -webkit-column-rule-width:  0.1em;
  }


  .item-page div[itemprop="articleBody"] {
    column-count: 1;
  }

  /* butoanele de rasfoit articole inainte si inapoi */
  .item-page .pager {
    margin: 0; /* OVERRIDE BOOTSTRAP */
    background-color: white;
  }

  .item-page div[itemprop="articleBody"] {

  }


/*}*/
