/**
Verde
background: rgba(47, 109, 67, 1);
#2F6D43

Kaki deschis
background: rgba(156, 156, 109, 1);

Marsala
background: rgba(173, 101, 95, 1);
background: rgba(149, 82, 81, 1);

Touch of Marsala
background: rgba(147, 58, 63, 1);
*/

* {
  font-family: 'Ubuntu', 'Ubuntu Light', sans-serif, 'Verdana';
}

html {
  background-color: black;
}

/* BOOTSTRAP OVERIDES */
body {
  background-color: transparent;
}

h1 {
  font-size: 1em;       /* override bootstrap */
  line-height: normal;  /* override bootstrap */
  margin: 0;            /* OVERRIDE BOOTSTRAP */
}

h2 {
  font-size: 0.95em;       /* override bootstrap */
  line-height: normal;  /* override bootstrap */
  margin: 0;            /* OVERRIDE BOOTSTRAP */
}

dl {
  margin: 0; /* override bootstrap */
}

/* Stilizarea elementelor generale */
a {
  color: rgba(47, 109, 67, 1); /* Verde */
}

a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: rgba(147, 58, 63, 1); /* Touch of Marsala */
}

form {
  margin: 0;
}

/* BOOTSTRAP OVERIDES CLASSES */
.page-header {
  margin: 0;
  padding: 0;
}

/* ZONA DE STILIZARE COMUNĂ INDIFERENT DE MEDIA */

/* GENERAL */
header {
  background-image:
  url("../images/Daniel_Maclise_-_Caxton_Showing_the_First_Specimen_of_His_Printing_to_King_Edward_IV_at_the_Almonry_Westminster.jpg");
  background-position: center bottom ;
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  text-align: center;
  padding: 4em 0 0.2em;

  box-shadow: inset 0.2em 0 2em 0.5em black;
}

main {
  /*padding: 1em;*/
  background-color: rgba(47, 109, 67, 1);
}

#top {
  z-index: 4000;
  padding-bottom: 3em;
}

#top img,
.search {
  margin-right: 0.5em;
  margin-bottom: 0.2em;
}

.lang {
  background: rgba(156, 156, 109, 0.75);
  display: inline-block;
}

.search {
  display: inline-block;
}

#mod-finder-searchword {
  font-weight: bold;
  color: rgba(255, 19, 1, 0.6);
}

/* NAVIGARE */

.orientation {
  margin: 0 auto;
}

/*
* NAVIGARE - BOOTSTRAP 3 OVERRIDES
*/
.navbar-inner {
text-align:center;
margin: 0 auto;
}

.navbar {
  margin-bottom: 0; /* override bootstrap */
  background-color: transparent; /* override bootstrap */
}

.navbar .btn-navbar {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.navbar-inner {
  background-color: rgba(0, 0, 0, 0);/* override bootstrap */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0));/* override bootstrap */
  background-repeat: repeat-x;/* override bootstrap */
  border: 0px solid #D4D4D4;/* override bootstrap */
  border-radius: 0px;/* override bootstrap */
  box-shadow: inset 0 0.75em 4em -0.4em rgba(0, 0, 0, 0.6);
}

.zone .nav > li > a {
  font-size: x-large;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.categories .nav > li > a {
  font-size: small;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(156, 156, 109, 1);
}


/*
* Stilizare
* NEWSFLASH
* SEARCH
* LANGUAGES
*/
.newsflash-horiz,
.mod-languages {
  text-align: center;
}

/* Stilizare
* NEWSFLASH
*/
.newsflash-horiz{
  padding: 0;
}

.newsflash-horiz > li {          /* li-urile */
  background: white;
  box-shadow: inset 0 0 2.5em rgba(156, 156, 109, 1), 0 0 0.3em white;

  /*width: 20em;*/
  vertical-align: top;
  display: inline-block;

  margin: 0.2em;
  padding: 0 0.5em;

  /* For IE 7 */
  zoom: 1;
  *display: inline;
}

.newsflash-title {
  font-variant: all-petite-caps;
}

.newsflash-title a:link,
.newsflash-title a:visited{
  display: block;
  text-decoration: none;
  padding-bottom: 0.2em;
  color: rgba(47, 109, 67, 0.8);
}

/* Modul de cautare */

.mod-languages {
  width: 100%;
}


/**
* ELEMENTE COMUNE PENTRU TOATE CAZURILE
*/

/**
* ARTICOLELE PER GLOBAL
*/

/* Setarea felului in care arata articolele per global */
/*[class*="leading"],*/
.item,
.item-page {
  background-color: white;
  padding: 0 1em 1em;
}

/**
* TITLURI ARTICOLE DIN
* - .item .item-title pentru HOMEPAGE
* - .page-header > h2 pentru paginare blog in SECTIUNI*/
*/

/*
Titlul articolului la afisarea in pagina principala
- va fi suprascris pentru titlurile articolelor afisate individual
*/

/*.item .item-title,
.page-header > h2 {
  text-align: center;
  padding: 0 0.2em 0.5em;
  border-bottom: 0.05em dashed rgba(255, 19, 1, 0.6);
  font-variant: all-petite-caps;
  font-size: 2em;
  line-height: 0.95em;
}*/


/* ARTICOLE CA LISTE ALE SUBCATEGORIILOR */
.items-row .item {
  padding: 0 1em 1em;
}

/* CATEGORIE SI TITLU */

/* NUME CATEGORIE IN CARE SE AFLA ARTICOLUL */
.item-page .page-header h1,
.blog .page-header h1 {
  color: white;
  font-size: large;
  display: inline-block;
  background-color: rgba(47, 109, 67, 1);
  padding: 0.4em;
  border-radius: 0 0 .5em .5em;
}

/*
* Titlul articolului individual accesat
* suprascrie setarile de la afisarea articolelor
* din pagina principala
*/
.item-page h2 {
  /*color: white;*/
  border-bottom: 0;
  font-variant: none;
  /*font-size: 2.5em;*/ /*Afecteaza afisarea la dimensiuni mici*/
  line-height: 0.95em;
  padding: 0.5em;
}

.page-header h2{
  color: white;
}

/* Titlul articolului */
.item-page .page-header h2,
.blog .subheading-category h2 {
  background-color: rgba(147, 58, 63, 1); /* Touch of MARSALA*/
}

.item-page .page-header h2>a:link,
.item-page .page-header h2>a:visited,
.subheading-category,
.category-desc,   /* Stilizarea textului descrierii secțiunii */
.category-desc p {
  color: white;
}

/**
* CARTUS INFO LA ARTICOL
*/

/* SETARI GENERALE */
.article-info {
  display: inline-block;
  border-bottom: 0.05em dashed rgba(255, 19, 1, 0.6);
}

/*
* Articole prima pagina
* Articol leading-0
* Articole items-row
*/

.leading-0 .article-info,
.items-row .article-info {
  float:left;
}

.leading-0 .article-info {
  color: black;
  padding: 1em;
}

.article-info-term{
  display: none;
}

/*
* LEADING-0
*/

/*
* Stilizarea primului articol care apare pe home
* Articol pe trei coloane
**/

/*.leading-0 {

}*/


/* TITLURI */
.leading-0 h2.item-title{
  font-size: 2em;
}


.leading-0 .createdby a:link,
.leading-0 .parent-category-name a:link,
.leading-0 .category-name a:link {
  color: rgba(47, 109, 67, 1);
}

.leading-0 .parent-category-name a:visited,
.leading-0 .category-name a:visited {
  color: rgba(156, 156, 109, 1);
}

.leading-0 .parent-category-name a:hover,
.leading-0 .category-name a:hover {
  color: rgba(255, 19, 1, 0.5);
}

.leading-0 .createdby,
.leading-0 .create,
.leading-0 .hits {
  color: rgba(47, 109, 67, 1);
}

/*
*  STILIZARE TITLU
*/
*
.leading-0 h2.item-title {
  background-color: black;
  line-height: 1.7em;
  display: block;
  padding: inherit;
  text-align: center;
}

.leading-0 h2.item-title a {
  font-weight: lighter;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}



.article-info {
  margin: 1em 1em 0 0;
}

/*
* Stilizare bloc informatie din .items-row
*/
.createdby a:link,
.parent-category-name a:link,
.category-name a:link {
  color: rgba(47, 109, 67, 1);
}
.parent-category-name a:visited,
.category-name a:visited {
  color: rgba(156, 156, 109, 1);
}
.parent-category-name a:hover,
.category-name a:hover {
  color: rgba(255, 19, 1, 0.5);
}

.createdby,
.create,
.hits {
  color: rgba(47, 109, 67, 1);
}









/**
* FORMATAREA CONTINUT ARTICOL
* continutul articolului nu are o clasa sau un id
* poate fi identificat doar dupa atributul Schema.org
*/

/*
* Extinde continutul pe tot UA
* Restrange per media query
*/
/*.item-page div[itemprop="articleBody"]{
  padding: 1.5em 1.5em 1.5em 1.5em;
}*/

.item-page div[itemprop="articleBody"] {
  padding: 1.5em;

  /* setări generale */
  column-count: 3;
  column-gap: 1em;
  column-rule-color:  rgba(255, 19, 1, 0.5);
  column-rule-style:  solid;
  column-rule-width:  0.1em;

  /* MOZILLA */
  -moz-column-count: 3; /* Articol pe trei coloane */
  -moz-column-gap: 1em;
  -moz-column-rule-color:  rgba(255, 19, 1, 0.5);
  -moz-column-rule-style:  solid;
  -moz-column-rule-width:  0.1em;

  /* CHROME, SAFARI */
  -webkit-column-count: 3;
  -webkit-column-gap : 1em;
  -webkit-column-rule-color:  rgba(255, 19, 1, 0.5);
  -webkit-column-rule-style: solid ;
  -webkit-column-rule-width:  0.1em;
}

/* butoanele de rasfoit articole inainte si inapoi */
.item-page .pager {
  margin: 0; /* OVERRIDE BOOTSTRAP */
  float: left;
  max-width: 25em;
  min-width: 15em;
  background-color: white;
}

.item-page .pager:after {
  clear: none; /* OVERRIDE BOOTSTRAP */
}

.item-page .pager li > a,
.item-page .pager li > span {
  border-radius: 0;   /* OVERRIDE BOOTSTRAP */
  border: none;       /* OVERRIDE BOOTSTRAP */
}

/* TAGURI */
.tags {
  display: block;
  float: left;
}

/**
* FORMATARE LOGIN
*/
.loginmod {
  clear: both;
  background-color: black;
  padding: 1em;
}

#form-login-username,
#form-login-password,
#form-login-remember,
#form-login-submit {
  display: inline-block;
  float: left;
  margin-right: 1em;
}

.userdata ul li {
  display: inline-block;
  float: left;
  margin-right: 1em;
}

/**
* FORMATARE linkuri din clasele table-striped
*/

#categorylist_header_title,
#categorylist_header_hits {
  background-color: rgba(173, 101, 95, 1); /* Marsala */
  text-align: center;
}

#categorylist_header_title a:link,
#categorylist_header_hits a:link,
.cat-list-row1 a:link,
.cat-list-row1 a:visited{
  color: white;
}

.cat-list-row1 a:hover {
  color: white;
}

/* rewrite bootstrap */
.table .cat-list-row1 td:hover {
  background-color: rgba(173, 101, 95, 0.8); /* Marsala */
}
